.DS_Store
.npm/
.vscode
.idea
.public
node_modules
npm-debug.log
coverage
.cache
.envrc
tsconfig.tsbuildinfo
.env

# TODO: remove once @livestock deps are published to a proper registry.
package-lock.json
